.plot {
  padding: 5px;
  margin-top: 8px;
  background-color: var(--c-primary-light);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.graph {
  position: absolute;
  height: calc(100vh - 8.8em) !important;
  width: calc(100vw - 1.35em) !important;
  border-radius: 5px;
  z-index: 2;
}

.graph_content {
  height: 100% !important;
  width: 100% !important;
  border: none;
  overflow: auto;
}
