/* parse.html specific styles */

#graph_desc {
  font-size: 20px;
}
#githubUrl {
  width: 500px;
  height: 20px;
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 5px;
}

.gitLink,
.jsonLink,
.plotLink {
  color: #e1c48f;
}
.gitLink:link,
.jsonLink:link,
.plotLink:link {
  color: #e1c48f;
}
.gitLink:visited,
.jsonLink:visited,
.plotLink:visited {
  color: #c29e63;
}
.gitLink:hover,
.jsonLink:hover,
.plotLink:hover {
  color: #e8dbad;
}
.gitLink:active,
.jsonLink:active,
.plotLink:active {
  color: #e8dbad;
}
