{% extends "base.html" %} {% block content %}

<!-- SCRIPT/CSS -->
<script src="/pages/parse/parse.js" defer></script>
<link rel="stylesheet" href="/pages/parse/parse.css" />
<script>
  window.onload = function () {
    getGraphDesc()
  }
</script>

<!-- BODY -->
<main>
  <!-- Parser Desc -->
  <section id="parser-desc">
    <h2 style="margin-top: -20px">Parser</h2>
    <button onclick="window.location.href = '/'">Return Home</button>
  </section>
  <br /><br />
  <!-- Parser Display -->
  <section id="parser-display">
    <div id="graph_desc"></div>
  </section>
</main>

{% endblock %}
