{% extends "base.html" %} {% block content %}

<!-- SCRIPT/CSS -->
<script src="/pages/parse/parse.js" defer></script>
<link rel="stylesheet" href="/pages/parse/parse.css" />
<script>
  window.onload = function () {
    getGraphDesc()
  }
</script>

<!-- BODY -->
<main>
  <!-- Navigation -->
  <button onclick="window.location.href = '/'">Return Home</button>

  <!-- Parser Desc -->
  <section id="parser-desc">
    <h2>Parser</h2>
  </section>

  <!-- Parser Display -->
  <section id="parser-display">
    <h3>Required Graph Description</h3>
    <div id="graph_desc"></div>
  </section>
</main>

{% endblock %}
