:root {
  --c-primary: #2c221a;
  --c-primary-light: #4c3e32;
  --c-secondary: #d7b073;
  --c-secondary-light: #e8dbad;
  --c-folder-active-border: var(--c-secondary-light);
  --c-folder: var(--c-black);
  --c-file-disabled: var(--cb-file-disabled);
  --c-file-active: var(--c-black);
  --c-file-hover: var(--c-black);
  --c-file: var(--c-secondary);
  --c-font: #e1c48f;
  --c-graph: #705d50;
  --cb-directory: var(--c-primary);
  --cb-folder-active: #433920;
  --cb-folder-hover: var(--c-secondary-light);
  --cb-folder: var(--c-secondary);
  --cb-file-disabled: #8d8374;
  --cb-file-active: var(--c-secondary-light);
  --cb-file-hover: var(--c-secondary-light);
  --cb-file: var(--c-primary);
  --w-nav-left: 5rem;
}

.app {
  display: grid;
  grid-template-rows: auto auto 1fr;
  flex-direction: column;
  height: calc(100vh - 20px) !important;
  font-size: 20px;
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.parser_graph_desc {
  margin-block: 20px;
  margin-left: 5px;
}
