:root {
  --cb-directory: #2c221a;
  --cb-folder-active: #433920;
  --cb-folder-hover: #e8dbad;
  --cb-folder: #d7b073;
  --cb-file-disabled: #8d8374;
  --cb-file-active: #e8dbad;
  --cb-file-hover: #e8dbad;
  --cb-file: #2c221a;
  --c-folder-active-border: #e8dbad;
  --c-folder: var(--c-black);
  --c-file-disabled: var(--cb-file-disabled);
  --c-file-active: var(--c-black);
  --c-file-hover: var(--c-black);
  --c-file: #d7b073;
  --w-nav-left: 5rem;
}

.app {
  display: grid;
  grid-template-rows: auto auto 1fr;
  flex-direction: column;
  height: calc(100vh - 20px) !important;
  font-size: 20px;
  color: #e1c48f;
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.parser_graph_desc {
  margin-block: 20px;
  margin-left: 5px;
}

.plot {
  padding: 5px;
  margin-top: 8px;
  background-color: #4c3e32;
  border-radius: 5px;
}
