[submodule "graphbase"]
	path = graphbase
	url = https://github.com/quaternionmedia/graphbase.git
[submodule "governance/qm"]
	path = governance/qm
	url = https://github.com/quaternionmedia/qm.git
	branch = project/codecartographer
