/* ###########  UPLOAD  ######### */
.upload_nav {
  height: calc(100% - 0.8em) !important;
  justify-content: space-evenly;
  justify-items: start;
  background-color: var(--cb-directory);
  overflow: auto;
}

.upload_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload_header_title {
  font-size: 20px;
}
/* 
.upload_header_button {
}

.upload_header_button_input {
}

.upload_header_button_view {
} */

.upload_files {
  margin-top: 5px;
  padding: 5px;
  width: calc(100% - 11px);
  margin-left: -1px;
  background-color: var(--c-primary);
  border-radius: 5px;
  overflow: auto;
}
.file {
  cursor: pointer;
  padding-left: 3px;
  padding-block: 1px;
  border-radius: 3px;
}
