{% extends "base.html" %} {% block content %}

<!-- SCRIPT/CSS -->
<script src="/pages/palette/palette.js" defer></script>
<link rel="stylesheet" href="/pages/palette/palette.css" />

<script>
  window.onload = function () {
    getPalette()
  }
</script>

<!-- BODY -->
<main>
  <!-- Palette Desc -->
  <section id="palette_desc">
    <h2 style="margin-top: -20px">Palette</h2>
    <button onclick="window.location.href = '/'">Return Home</button>
  </section>
  <br />
  <!-- Palette Display -->
  <section id="palette_display">
    <h2>Default Palette Properties</h2>
    <div id="pal_data"></div>
  </section>
</main>

{% endblock %}
