{% extends "base.html" %} {% block title %} - Database{% endblock %} {% block
    content %}
    
    <!-- SCRIPT/CSS -->
    <script src="/pages/db/db.js" defer></script>
    <link rel="stylesheet" href="/pages/db/db.css" />
    
    <script>
      window.onload = function () {
        getDatabase()
      }
    </script>
    
    <!-- BODY -->
    <main> 
      <!-- Graphs Desc -->
      <section id="graphs_desc">
        <h2 style="margin-top: -20px">Graphs</h2>
        <button onclick="window.location.href = '/'">Return Home</button>
      </section>
      <!-- database Display -->
      <section id="db_display">
        <h2>Current Graphs in Database</h2>
        <div id="db_data"></div>
      </section>
    </main>
    
    {% endblock %}
    