.url {
  padding: 3px;
  background-color: var(--c-primary-light);
  border-radius: 5px;
}
.url_header {
  font-size: 20px;
  margin-left: 5px;
}
.url_input {
  display: block;
  width: calc(100% - 1.25em);
  height: 20px;
  padding-left: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
}
.url_btn {
  margin-top: 7px;
}
