/* db.html specific styles */

.plotLink {
  color: #e1c48f;
}
.plotLink:link {
  color: #e1c48f;
}
.plotLink:hover {
  color: #e8dbad;
}
.plotLink:active {
  color: #e8dbad;
}

.deleteLink {
  color: #e19f8f;
  cursor: pointer;
  text-decoration: underline;
}
.deleteLink:link {
  color: #e19f8f;
}
.deleteLink:hover {
  color: #ebbebe;
}
.deleteLink:active {
  color: #ebbebe;
}