<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeCartographer</title>
  </head>
  <style>
    body {
      font-family: 'Calibri', sans-serif;
      background-color: #1f1f1f;
    }
  </style>
  <body>
    <h1>Code Cartographer</h1>
    <br /><br />
    <button onclick="window.location.href = '/palette/'">Palette</button>
    <br />
    <button onclick="window.location.href = '/plotter/'">Plotter</button>
    <br />
    <button onclick="window.location.href = '/parser/'">Parser</button>
    <br />
  </body>
</html>
