<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeCartographer</title>
  </head>
  <style>
    body {
      font-family: 'Calibri', sans-serif;
      background-color: #1f1f1f;
    }
  </style>
  <body onload="getGraphDesc();">
    <h1>Code Cartographer</h1>
    <button onclick="window.location.href = '/'">Return Home</button>
    <br />
    <br />
    <h2>Parser</h2>
    <br />
    <h3>Required Graph Description</h3>
    <div id="graph_desc">{{ graph_desc | safe }}</div>
  </body>
  <script>
    function getGraphDesc() {
      fetch('/parser/get_graph_desc')
        .then(response => response.json())
        .then(data => {
          // Create the content of the <div>
          var content = '<pre>' + data['graph_desc'] + '</pre>'
          // Update the content of the <div>
          document.getElementById('graph_desc').innerHTML = content
        })
        .catch(error => {
          document.getElementById('graph_desc').innerHTML =
            'Error getting graph description'
          console.error('An error occurred:', error)
        })
    }
  </script>
</html>
