/* ###########  DIRECTORY  ######### */
.directory {
  height: 100%;
  justify-content: space-evenly;
  justify-items: start;
  border: '2px';
  background-color: var(--cb-directory);
}

/* ###########  FOLDER BUTTON  ######### */
.folder_button {
  cursor: pointer;
}
.folder_button:hover {
  color: var(--c-folder);
  background-color: var(--cb-folder-hover);
}
.folder_button::before {
  font-weight: bold;
  content: '🗀 '; /* Closed folder icon */
}
.folder_button.active::before {
  content: '🗁 '; /* Open folder icon */
}
.folder_button + .folder_content {
  display: none;
}
.folder_button.active + .folder_content {
  display: block;
}

/* ###########  FOLDER CONTENT  ######### */
.folder_content {
  display: none;
  padding-left: 15px;
  border-left: dashed 1px var(--c-folder-active-border);
}
.folder_button.active + .files,
.folder_button.active + .files > .file {
  background-color: var(--cb-folder-active);
}
.folder_button.active + .files {
  border: solid 1px var(--c-folder-active-border);
}

/* ###########  FILES  ######### */
.files {
  color: var(--c-file);
}
.file {
  cursor: pointer;
  background-color: var(--cb-file);
}
.file::before {
  font-weight: bold;
  content: '🗎 '; /* Closed folder icon */
}
.file:hover {
  color: var(--c-file-hover);
  background-color: var(--cb-file-hover);
}
.file.disabled {
  color: var(--c-file-disabled);
}
.file.disabled:hover {
  color: var(--c-black);
  background-color: var(--cb-file-disabled);
}

/* ###########  PLOT LINKS  ######### */
.plot_whole {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 10px;
}
.plot_whole:hover {
  color: var(--c-file-hover);
  background-color: var(--cb-file-hover);
}

/* ###########  UNUSED  ######### */
.git_link,
.json_link,
.plot_lin {
  color: #e1c48f;
}
.git_link:link,
.json_link:link,
.plot_link:link {
  color: #e1c48f;
}
.git_link:visited,
.json_link:visited,
.plot_link:visited {
  color: #c29e63;
}
.git_link:hover,
.json_link:hover,
.plot_link:hover {
  color: #e8dbad;
}
.git_link:active,
.json_link:active,
.plot_link:active {
  color: #e8dbad;
}
