.plot {
  margin-top: 8px;
  width: 100%;
  background-color: var(--c-primary-light);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: var(--z-plot);
}

.graph {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.graph_content {
  height: 100%;
  width: 100%;
  border: none;
  overflow: auto;
}
