/* ###########  NAV  ######### */
.nav {
  height: 100%;
  z-index: 1;
  justify-content: left;
  overflow: hidden;
}
.nav__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav__toggle {
  height: 2em;
  width: 2em;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--c-black);
  font-weight: bold;
  transition: all var(--t-transition-time) ease;
}
.nav__content {
  height: 100%;
  width: 50vw;
  margin-left: calc(-50vw - 2.1em);
  background-color: var(--c-black);
  transition: all var(--t-transition-time) ease;
}
.nav__toggle--open {
  margin-left: calc(50vw + 0.3em);
}

.nav__content > div {
  padding: 0.5rem;
}
