/* ###########  NAV  ######### */
.nav {
  position: relative;
  height: calc(100vh - 8.8em) !important;
  justify-content: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.nav__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav__toggle {
  height: 2em;
  width: 2em;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--c-black);
  font-weight: bold;
  transition: all var(--t-transition-time) ease;
  z-index: 3;
}
.nav__content {
  width: 15em;
  margin-left: calc(-15em - 2.1em);
  background-color: var(--c-black);
  transition: all var(--t-transition-time) ease;
  z-index: 3;
}
.nav__toggle--open {
  margin-left: calc(18.8em + 0.3em);
}

.nav__content > div {
  padding: 0.5rem;
}
